/*
For computers
*/

@media screen and (min-width: 600px) {

.hide_desktop_block{
    display : none;

}
.data_table{
    left:35%;
}
.qr_scanner_design{
    width:100px;
    height: 220px;
}
}

/*
For mobile devices
*/
@media screen and (max-width: 600px) {
    .hide_block{
        display : none;
    }
    .data_table{
        left:10%;
    }
    .qr_scanner_size{
        height: 400;
      width: 420;
    }
  }

  .color_gray {
      color: gray;
  }
  
.float_top{
    position: fixed;
    top: 10;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
  
}

/*
Responsive table
*/
