@media screen and (min-width: 600px) {

.hide_desktop_block{
    display : none;

}
.data_table{
    left:35%;
}
}

/*
For mobile devices
*/
@media screen and (max-width: 600px) {
    .hide_block{
        display : none;
    }
    .data_table{
        left:10%;
    }
    .qr_scanner_size{
        height: 400;
      width: 420;
    }
  }